<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Hotel Management System</title>
        <link href="/favicon.ico" rel="icon" type="image/x-icon"/>
        <!-- CSS Styles -->
        <th:block th:replace="~{fragments/styles :: styles}"></th:block>
    </head>
    <body>
    <!-- Navigation Bar Header -->
        <th:block th:replace="~{fragments/header :: header}"></th:block>
        <!-- Carousel -->
        <th:block th:replace="~{fragments/carousel :: carousel}"></th:block>
        <!-- 3x3 Section Grid -->
        <th:block th:replace="~{fragments/section_grid :: section_grid}"></th:block>
        <!-- Footer -->
        <th:block th:replace="~{fragments/footer :: footer}"></th:block>
    <!-- JS Scripts -->
        <th:block th:replace="~{fragments/scripts :: scripts}"></th:block>
    </body>
</html>
